<div class="panel panel-success round main">
    <div class="panel-heading">
        LOGIN - Status Conexão
    </div>
    <div class="panel-body" >
        <p>{{message}}</p>
        <p>UID: {{ (authService.af.auth | async)?.uid }}</p>
        <!--<p>Display Name: {{ authService.af.auth?.displayName}}</p>

        <p>Display Email: {{ (af.auth | async)?.auth.email }}</p>
            <p>Provider ID: {{ (af.auth | async)?.provider }}</p>
            <p>Email Verified: {{ (af.auth | async)?.auth.emailVerified }}</p>
            <p>Foto URL: {{ (af.auth | async)?.auth.photoURL }}</p>
            <p>Auth URL: {{ (af.auth | async)?.auth.S }}</p>-->
        <p>
            <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
            <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
        </p>
    </div>
</div>