<div class="row user-dashboard">
    <div class="col-xs-12">
        <div class="internal-menu pull-right">
            <button class="btn btn-primary btn-element" data-toggle="modal" data-target="#alertsModal" >
                <i class="fa fa-map-marker fa-fw  icon-element"></i>
                Mapa
            </button>
            <button class="btn btn-primary btn-element">
                <i class="fa fa-plus-circle fa-fw icon-element"></i>
                Incluir
            </button>
        </div>
    </div>
</div>
<div class="caixas" >
    <ul class="list-group">
        <li *ngFor="let item of (alertItems | asCompletedAlertsFilter:showCompleted) | async; let idx=index" >
            <as-alertbox [alertinfo]="item"></as-alertbox>
        </li>
    </ul>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>

<div id="alertsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-box">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                </a>
                <h4 class="modal-title"> <i class="fa fa-map-marker fa-fw"></i> Mapa de Alertas</h4>
            </div>
            <div class="modal-body">
                <as-maps [alerts]="alertItems"></as-maps>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="add_element" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <h4 class="modal-title">Incluir Alerta</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Título" name="title">
                <input type="text" placeholder="Rótulo" name="label">
                <input type="text" placeholder="Imagem" name="image">
                <textarea placeholder="Descrição" name="description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Cancelar</button>
                <button type="button" class="add-element" data-dismiss="modal">Incluir</button>
            </div>
        </div>

    </div>
</div>