/* Main body */

.main{
	position: relative; /* needed for footer positioning*/
	height: auto !important; /* real browsers */
	min-height: 100%; /* real browsers */
	padding: 0;
}

.internal-menu{
    margin-top: 1.4em;
    margin-bottom: .7em;
}

.caixas { margin-top: .7em !important; }

.caixas ul {
    padding-left: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;

    justify-content: flex-start;

    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.caixas li {
    margin: 0.2%;
    min-width: 2em;

    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


/* DEF DE BOTOES COLORIDOS */
.accesskey{
	font-weight: bolder;
	font-style: italic;
}


/* Modal */
.modal-open #alertsModal{
	-webkit-filter: blur(.5em);
	-moz-filter: blur(.9em);
	-o-filter: blur(.9em);
	-ms-filter: blur(.9em);
	filter: blur(.9em);
}

.modal-backdrop {background: #f7f7f7;}

.modal-box {
	-webkit-box-shadow:inset 0 0 .7em 0 rgba(0,0,0,.1);
	box-shadow:inset 0 0 .7em 0 rgba(0,0,0,.1);
	-webkit-border-radius: 2em;
	border-radius: 2em;
	margin: 1%;
}

.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
    width: 95%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(-.7em, -.7em, 0);
	transform: translate3d(-.7em, -.7em, 0);
	opacity: 1;
}

.modal-header {
	font-family: "Bree Serif";
	background-color: #F6F5F5;
	border-radius: .25em;
}

.modal-header .close {
	color: #0E1A35 !important;
}

.modal-header .modal-title i {
	padding: 0 .5em;
}

.modal-body {
	font-size: 1em;
}
