.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row-no-gutter [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


#card {
    font-size: 1.4em;
    font-weight: 200;
    background: #fff;

    -webkit-box-shadow: 0 .25em .7em 0 rgba(207,207,207,1);
    -moz-box-shadow: 0 .25em .7em 0 rgba(207,207,207,1);
    box-shadow: 0 .25em .7em 0 rgba(207,207,207,1);
}


.alert-selected {
    position: relative;
    overflow: hidden;
    background: #3D6AA2;
}

/*------PARAGRAPH------*/
#card .alert-selected as-alert-details {
    position: absolute;
    color: transparent;
    background: #3D6AA2;
    font: 400 30px/187px 'Arvo', Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#card .alert-selected:hover as-alert-details{
    color: white;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

/*------IMAGES------*/
#card .alert-selected article {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#card:hover .alert-selected article{
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    z-index: -3;
}

article {
    display: flex;
    position: relative;
    z-index: 2;
    color: #fff;
    padding: .6em;

    flex-flow: row wrap;

    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-align-items: center;
    align-items: center;
}

article .icon {
    width: 5em;
    height: 5em;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;

    -webkit-flex: 1 0 content;
    -ms-flex: 1 0 content;
    flex: 1 0 content;

    overflow: visible;
}

article .info{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
}

.info .alert,
.alert-type {
    font-size: 1em;
    font-weight: 200;
}

.info .alert span {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
}

.info .alert:after {
    content: '';
    width: .9em;
    height: .1em;
    background: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: .7em;
}

.info .alert-type {
    font-size: 1em;
    text-transform: uppercase;
}

.main-info {
    font-size: 73px;
    display: block;
    position: relative;
    font-weight: bold;
}

.secondary-info {
    margin-top: .7em;
}

.secondary-info img {
    width: 1.1em;
    height: 1.1em;
    margin-right: .7em;
    vertical-align: bottom;
}

.secondary-info span {
    font-size: .8em;
    text-transform: uppercase;
    min-width: 0;
}

svg {
    color: #fff;
    fill: currentColor;
}

.alert-selected:hover figure {
    opacity: 0.5;
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: 1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.address-box .row [class*="col-"]:nth-child(2) .address-info {
    border-width: 0 .1em 0 .1em;
    border-style: solid;
    border-color: #eaeaea;
}

.address-box .row [class*="col-"] {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.address-box .row [class*="col-"]:hover{
    background: #eaeaea;
}

.address-info {
    padding: .7em 0;
    text-align: center;
    overflow: visible;
}

.address-info h1, h2 {
    font-size: .8em;
    text-transform: uppercase;
    margin: .7em .7em;
    padding: 0;
    min-height: 1.1em;
}

.address-info img {
    color: #000;
    width: 1.5em;
    height: 1.5em;
}


.address{
    max-width: 600px;
    word-wrap: break-word;
    white-space: normal;
}

@media (min-width: 42em) {
    .address{
        max-width: 257px;
    }
} /* 592px */
@media (min-width: 49em) {
    .address{
        max-width: 305px;
    }
} /* 656px */
@media (min-width: 63em) {
    .address{
        max-width: 257px;
    }
} /* 889px */
@media (min-width: 71em) {
    .address {
        max-width: 171px;
    }
} /* 952px */
@media (min-width: 87em) {
    .address {
        max-width: 137px;
    }
} /* 1312px */
@media (min-width: 100em) {
    .address {
        max-width: 200px;
    }
} /* 1600px */
